@{
  Layout = "_Layout";
}

@model Pollinator.Models.Quiz

<h4>Create a quiz</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Create Quiz" />
}
<p>@Html.ActionLink("Show all (of your?) quizzes", "Index")</p> 