@{
  Layout = "_Layout";
}

@model Pollinator.Models.Quiz;
<div class="text-center">
    <h1 class="display-4">Poll Details</h1>
</div>

<hr/>
<div class="container">
  <h2>@Model.Name</h2>
  <h4>@Model.Description</h4>
  <h4>@Model.QuestionText</h4>
  <h4>@Model.AnswerA or @Model.AnswerB</h4>
</div>
<br>

<div class="container">
<h2>Results:</h2>
</div>

<p>@Html.ActionLink("Take this Poll!", "Create", "Responses")</p>


  

<p>@Html.ActionLink("Back to (your) quizzes", "Index")</p>
<p>@Html.ActionLink("Edit Quiz", "Edit", new { id = Model.QuizId })</p>
<p>@Html.ActionLink("Delete Quiz", "Delete", new { id = Model.QuizId })</p>