<!DOCTYPE html>

<html>
<head> 
 <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Poll Index";
}

<div class="text-center">
    <h1 class="display-4">Active Polls</h1>
</div>

@using Pollinator.Models
@model dynamic

@* --------------Progress Bar Script------------------*@

@* --------------End of Progress Bar Script------------------*@ 
@* --------------Chart Script------------------*@
<script type="text/javascript">
        window.onload = function () {

             CanvasJS.addColorSet("customColorSet",
                [//colorSet Array

                "#000000",
                "#f7e757",
                "#f2b416", 

                ]);

            var chart = new CanvasJS.Chart("{chartId"}, {
                backgroundColor: "white",
                colorSet:  "customColorSet",
                height: 160,
                title: {
                
                    fontFamily: "Varela Round"
                },
                animationEnabled: true,
                legend: {
                    fontSize: 15,
                    fontFamily: "Varela Round"
                },
                theme: "light2",
                data: [
                {
                    type: "doughnut",
                    indexLabelFontFamily: "Varela Round",
                    indexLabelFontSize: 18,
                    indexLabel: "{label} {y}%",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{legendText} {y}%",
                    dataPoints: [
                        { y: 75, legendText: "Answer A", label: "Answer A" },
                        { y: 25, legendText: "Answer B", label: "Answer B" }
                    ],
 
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }
                ]
            });
            chart.render();
        };
    </script>
    @* --------------End of Chart Script------------------*@
</head>

<body>
    @* ----------Cards for each Quiz and Result--------------*@
<div class="container">
@{int QuizCount = 0;}

@foreach (Quiz quiz in Model.Quizzes)
{
    QuizCount++;
    string chartId = "chartContainer" + QuizCount;
    int A_count = 0;
    int B_count = 0;
    int C_count = 0;
    @using (Html.BeginForm("Create", "Responses", FormMethod.Post))
    {
    <div class="container">
  <div class="row justify-content-center">
   <div class="col-md justify-content-center">
    <input type="hidden" name="QuizId" value="@quiz.QuizId">
    <div id="chart-card" class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">@quiz.QuestionText</div>
      <div class="card-body text-info d-flex align-items-center">
      <div id="answers-card" class="card-text text-center">
          <label for="AnswerA">@quiz.AnswerA</label>
          <input id="AnswerA" name="AnswerChoice" type="radio" value="AnswerA" class="pollInput"> 
          <br>
          <label for="AnswerB">@quiz.AnswerB</label>
          <input id="AnswerB" name="AnswerChoice" type="radio" value="AnswerB" class="pollInput">
          <br>
          <label for="AnswerC">@quiz.AnswerC</label>
          <input id="AnswerC" name="AnswerChoice" type="radio" value="AnswerC" class="pollInput">
          <br>
         <input type="submit" value="submit">
    </div>
    </div>
    </div>
    </div>
   
    
@foreach(Response response in Model.Responses)
    {
        @if(@response.QuizId == @quiz.QuizId)
        {
            @if(@response.AnswerChoice == "AnswerA")
            {
                A_count++;
            }
            @if(@response.AnswerChoice == "AnswerB")
            {
                B_count++;
            }
            @if(@response.AnswerChoice == "AnswerC")
            {
                C_count++;
            }
        }
    }
  

 <div class="col-md justify-content-center">
        <div id="chart-card" class="card border-info mb-3">
    <div class="card-header">Poll Results</div>
      <div class="card-body text-info justify-content-center">
          <div class="progress">
  <div id="AnswerA-bar" class="progress-bar" role="progressbar" style="width: @A_count%" aria-valuenow="@A_count" aria-valuemin="0" aria-valuemax="@A_count"></div>
</div>
<br>
<div class="progress progress-bar-custom">
  <div id="AnswerB-bar"  class="progress-bar" role="progressbar" style="width: @B_count%" aria-valuenow="@B_count" aria-valuemin="0" aria-valuemax="@B_count"></div>
</div>
<br>
<div class="progress progress-bar-custom">
  <div id="AnswerC-bar" class="progress-bar" role="progressbar" style="width: @C_count%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="@C_count" ></div>
</div>
<div>
            A_count is @A_count, B_count is @B_count and C_count is @C_count;
     </div>   
        @*<div id="${chartId}">
    </div>*@ 
</div>
    </div>
    </div>
    </div>
    </div>

    }
    
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>

</body>
</html>
