@{
    ViewData["Title"] = "Poll Index";
}

<div class="text-center">
    <h1 class="display-4">Active Polls</h1>
</div>

@using Pollinator.Models
@model dynamic

<div class="container">
@foreach (Quiz quiz in Model.Quizzes)
{
    @using (Html.BeginForm("Create", "Responses", FormMethod.Post))
    {
    <input type="hidden" name="QuizId" value="@quiz.QuizId">
    <div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">@quiz.QuestionText</div>
      <div class="card-body text-info">
      <h5 class="card-title"></h5>
      <div class="card-text">
          <label for="AnswerA">@quiz.AnswerA</label>
          <input id="AnswerA" name="AnswerChoice" type="radio" value="AnswerA" class="pollInput"> 
          <label for="AnswerB">@quiz.AnswerB</label>
          <input id="AnswerB" name="AnswerChoice" type="radio" value="AnswerB" class="pollInput">
          <label for="AnswerC">@quiz.AnswerC</label>
          <input id="AnswerC" name="AnswerChoice" type="radio" value="AnswerC" class="pollInput">
         <input type="submit" value="submit">
    </div>
    </div>
    </div>
    }
    int A_count = 0;
    int B_count = 0;
    int C_count = 0;
    @foreach(Response response in Model.Responses)
    {
        @if(@response.QuizId == @quiz.QuizId)
        {
            @if(@response.AnswerChoice == "AnswerA")
            {
                A_count++;
            }
            @if(@response.AnswerChoice == "AnswerB")
            {
                B_count++;
            }
            @if(@response.AnswerChoice == "AnswerC")
            {
                C_count++;
            }
        }
    }
    <div>
            A_count is @A_count, B_count is @B_count and C_count is @C_count
     </div>   
}

<p>@Html.ActionLink("Create a quiz", "Create")</p>