<!DOCTYPE html>

<html>
<head> 
 <meta name="viewport" content="width=device-width" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

@{
    ViewData["Title"] = "Poll Index";
}

<div class="text-center">
    <h1 class="display-4">Active Poll</h1>
</div>

@using Pollinator.Models
@model dynamic
@* --------------Chart Script------------------*@
<script type="text/javascript">
        window.onload = function () {

             CanvasJS.addColorSet("customColorSet",
                [//colorSet Array

                "#000000",
                "#f7e757",
                "#f2b416", 

                ]);

            var chart = new CanvasJS.Chart("chartContainer", {
                backgroundColor: "white",
                colorSet:  "customColorSet",
                height: 160,
                title: {
                
                    fontFamily: "Varela Round"
                },
                animationEnabled: true,
                legend: {
                    fontSize: 15,
                    fontFamily: "Varela Round"
                },
                theme: "light2",
                data: [
                {
                    type: "doughnut",
                    indexLabelFontFamily: "Varela Round",
                    indexLabelFontSize: 18,
                    indexLabel: "{label} {y}%",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{legendText} {y}%",
                    dataPoints: [
                        { y: 75, legendText: "Answer A", label: "Answer A" },
                        { y: 25, legendText: "Answer B", label: "Answer B" }
                    ],
 
                    dataPoints: @Html.Raw(ViewBag.DataPoints)
                }
                ]
            });
            chart.render();
        };
    </script>
    @* --------------End of Chart Script------------------*@
</head>

<body>
    @* ----------Cards for each Quiz and Result--------------*@
<div class="container">
@foreach (Quiz quiz in Model.Quizzes)
{
    @using (Html.BeginForm("Create", "Responses", FormMethod.Post))
    {
    <div class="container">
  <div class="row justify-content-center">
   <div class="col-md justify-content-center">
    <input type="hidden" name="QuizId" value="@quiz.QuizId">
    <div id="chart-card" class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">@quiz.QuestionText</div>
      <div class="card-body text-info d-flex align-items-center">
      <div id="answers-card" class="card-text text-center">
          <label for="AnswerA">@quiz.AnswerA</label>
          <input id="AnswerA" name="AnswerChoice" type="radio" value="AnswerA" class="pollInput">
          <br>
          <label for="AnswerB">@quiz.AnswerB</label>
          <input id="AnswerB" name="AnswerChoice" type="radio" value="AnswerB" class="pollInput">
          <br>
         <input type="submit" value="submit">
    </div>
    </div>
    </div>
    </div>
    <div class="col-md justify-content-center">
        <div id="chart-card" class="card border-info mb-3">
    <div class="card-header">Poll Results</div>
      <div class="card-body text-info">
        <div id="chartContainer">
    </div> 
</div>
    </div>
    </div>
    </div>
    </div>
    
    


    }
}
 


<p>@Html.ActionLink("Create a quiz", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>

</body>
</html>